#botn
{
  background-color:#FFFAF0;
    padding: 0.5vh 8px 2vh 22px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    border-style: none;
}

#botn:hover
{
    color: #4CAF50;
}

.fade .modal-dialog{
  margin: 0;
   margin-right: auto;
   margin-left: auto;
   width: 100%;
}

  .modal-title{
    color: white;
    font-size: 40;
    text-align: center;
  }

.modal-header{
  background-color: #4CAF50;
}

.close{
  color: red;
  font-size: 40;
  border-style: double;

}


body {
font-family: 'Oswald', sans-serif;
background-position: 50% 50% !important;
background-repeat: no-repeat;
background-size: cover !important;
background-image: url(../imagenes/uploads/fondo1.jpg);
overflow-x: hidden;
}
.colum .imagen{
  width: 50%;
  height: 800px;
}
.logo{
  width: 70vh;
  height:40vh;
  word-break: break-all;
}

* {
  box-sizing: border-box;
}
h2{
  font-size: 30px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 20px 20px 20px 20px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  height: 70%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*PARTE DE FOOTER*/

footer{
   width: 100%;
   background: #4CAF50 ;
   color: #000000;
}

.container-footer-all{
   width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
 display: flex;
 justify-content: space-between;
}
.colum1{
   max-width: 400px;
}
.colum1 h1{
   font-size: 22px;
}
.colum1 p{
   font-size: 14px;
   color: #000000;
  margin-top: 20px;
}
.colum2{
   max-width: 400px;
}
.colum2 h1{
  font-size: 22px;
}
.row{
   margin-top: 20px;
   display: flex;
}

.row img{
   width: 36px;
   height: 36px;
}

.row a{
   margin-top: 10px;
   margin-left: 20px;
   color: #000000;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
 font-size: 22px;
}
.row2{
   margin-top: 20px;
   display: flex;
}

.row2 img{
   width: 36px;
   height: 36px;
}
.row2 label{
   margin-top: 10px;
   margin-left: 20px;
   max-width: 400px;
}

.container-footer{
   width: 100%;
   background: green;
   border-style: double;
   border-color: black;

}

.footer{
   max-width: 1200px;
   margin: auto;
 display: flex;
   justify-content: space-between;
   padding: 20px;
}

.copyright{
   color: #C7C7C7;
}

.copyright a{
   text-decoration: none;
   color: white;
  font-weight: bold;
}

.information a{
   text-decoration: none;
 color: #FFFAF0;
}

@media screen and (max-width: 1100px){
   .container-body{
    flex-wrap: wrap;
   }

   .colum1{
       max-width: 100%;
   }
  .colum2, .colum3{
       margin-top: 40px;
   }

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFAF0;
    overflow-x: hidden;
    transition: 0.90s;
    padding-top: 60px;
    text-align: center;
    opacity: .90;
}

.sidenav a {
    padding: 2px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav a:hover {
    color: #4CAF50;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.lg {
  position: relative;
  width: 200px;
  height: 100px:
}
.cor
{

  float: left;
  color: black;
}
.cor a{
  float: left;
  position: relative;
}
.cor a img{
  float: left;
  width: 50px;
  height: 50px;
}
span {
  color: #4CAF50;
  border-style: double;
  border-color:black;
  background-color: yellow;
}

#main {
    transition: margin-left .90s;
    padding: 5px;
    position: fixed;
    left: 0;
    top:300px;
}
/*Parte de maiN Y SIDE NAB VAR*/


@media screen (max-width: 700px){

.sidenav a{

text-align: left;
position: absolute;
left: 0;

}


}

@media (max-width: 700px) {
  .logo{
    width: 55vh;
    height: 35vh;
  }
  .imagen{
    width: auto;
    height: 100%;
  }
  .topnav{
    visibility: visible;
  }
  .sidenav a{
    font-size: 25px;
  }
  .lg{
    position: relative;
    text-align: left;
    width: 100%;
    height: 100%;
  }

}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* empez: AR REPSSIVE TOP NAV; */

.topnav {
  overflow: hidden;
  background-color: #333;
 position: absolute;
 top: 0%;
 right: 0%;
 z-index: 100;
 position: fixed;
 width: 100%;
 visibility: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 1%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
.topnav .cerrar{
  position: absolute;
  right: 0;
   top: 0;
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.funda{
    display: inline;
    position: absolute;
    left: 0;
    font-size: 18px;
    margin-right: 60px;
    color: black;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {

.topnav{
  visibility: visible;
  background-color: #4CAF50;
}
  .topnav.responsive {position: relative;
 top: 10%;

  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
     top: 0;
  }
  .topnav.responsive .cerrar {
    position: absolute;
    right: 0;
     top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #abrir{
    font-size: 22px;
    background-color: yellow;
    color: black;
    font-weight: bold;
  }
  #cerrar{
    font-size: 32px;
    background-color: yellow;
    color: black;
  }

#main{
  visibility: hidden;
}
.topnav .funda{
  position: absolute;
  left:  12px;;
   top: 0;
   visibility:visible;
}
}
