* {
  box-sizing: border-box;
}

#botn
{
  background-color:#FFFAF0;
    padding: 0.5vh 8px 2vh 22px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    border-style: none;
}

#botn:hover
{
    color: #4CAF50;
}

.fade .modal-dialog{
  margin: 0;
   margin-right: auto;
   margin-left: auto;
   width: 100%;
}

  .modal-title{
    color: white;
    font-size: 40;
    text-align: center;
  }

.modal-header{
  background-color: #4CAF50;
}

.close{
  color: red;
  font-size: 40;
  border-style: double;

}

  body
{
  margin:0;
  padding:0;
  font-family: sans-serif;
  overflow-x: hidden;
}

section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

section.sec1
{
  box-sizing: border-box;
  margin:0;
  font-size: 1rem;
  line-height: 1.5;
  color:#333;
  overflow-x: hidden;
  overflow-y: hidden;
}
.header
{
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;

}

.content
{
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: left;

}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video{

  min-width: 100%;
  min-height: 100%;
}

.header-overlay
{
height: 100vh;
width: 100vw;
position: absolute;
top: 0;
left: 0;
background:	#000000;
z-index: 1;
opacity: .30;
}

.header-content {
z-index: 2;
}
.header-content h1
{
 font-size: 50px;
font-family: cursive;
color: FFFAF0;
position: absolute;
top:15px;
right: 15px;
}

.uno {
  font-size: 5vh;
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #4CAF50;
  position: absolute;
  bottom: 18%;
  right: 15px;
  text-align: justify;
}

.dos {

  font-size: 5vh;
  display: block;
  font-family: 'Oswald', sans-serif;
  color: yellow;
  position: absolute;
  bottom: 12%;
  right: 15px;
  text-align: justify;

}

.tres {


    font-size: 5vh;
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #4CAF50;
    position: absolute;
    bottom: 7%;
    right: 15px;
    text-align: justify;
}

.cuatro
{
  font-size: 5vh;
  display: block;
  font-family: 'Oswald', sans-serif;
  color: yellow;
  position: absolute;
  bottom: 2%;
  right: 15px;
  text-align: justify;
}
.cinco
{
  font-size: 4vh;
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #4caf50;
  position: absolute;
  bottom: -1%;
  right: 15px;
  text-align: justify;
}


.logo
{
  width: 70vh;
  height: 45vh;
  position:absolute;
  top :0;
  left: 15px;
  }

.btn
{
  background: #c44569;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem ;
  text-decoration: none;
}

section.sec2
{
  box-sizing: border-box;
  margin:0;
  font-size: 1rem;
  line-height: 1.5;
  color:#333;
  overflow-x: hidden;
  float: left;
  background-image: url(../imagenes/galeria/galeria18.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-attachment: fixed;
}

/* SECCION 2 parte de background*/

.cabecera
{
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.cont
{
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: left;
}

.cabecera-imagen {
  position: fixed;
 top: 1;
 left: 0;
  width: 100%;
  height: 70vw;
  overflow: hidden;
  object-fit: cover;
}

.cabecera-imagen img
{

  min-width: 100%;
  min-height: 100%;
  object-fit:contain;
}

.overlay
{
height: 100vh;
width: 100vw;
position: absolute;
top: 0;
left: 0;
background:	#000000;
opacity: .70;
}



/*  SECCION 2 PARTE DE SLDESHOW    */

.contenido
{
  float: right;
  width: 20%;
  padding: 20% 20% 20%;
}


.mySlides {display: none;}
/* Slideshow container */
.slideshow-container­
{
  min-width: 100vh;
  min-height: 20vh;
  object-fit: cover;
  text-align: center;
  position: relative;
  right: 50px;

}

.img
{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  text-align: right;
  position: absolute;
  right: 20px;

}
/* The dots/bullets/­indicators */
.dot {
height:0.4vh;
width: 0.4vh;
margin: 0 1px;
background-color: yellow ;
border-radius: 50%;
display:inline-block;
transition: background-color 0.6s ease;
position: relative;
left: -130%;
bottom: -25vh;
opacity: 0;
}

.active {
background-color: green;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

section.sec2 h1
{
  margin:0;
  padding:0;
  font-size: 48px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.imag{
  width: 150px;
  height: 150px;
  visibility: hidden;
}
section.sec2 article
{
  font-size: 4.2vh;
  text-align: justify;
  text-align: center;
  position: absolute;
  left:100vh;
  top: 5vh;
  font-family: 'Oswald', sans-serif;
  color:	#FFFAF0;
  display: inline-block;
  text-align: border-box;
  webkit-animation-name: move;
  -webkit-animation-duration: 6.5s;
  animation-name: move;
  animation-duration: 6.5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move{
   from {
    left:  0px;
   }
   to {left: 650px;}
}

@keyframes move {
   from {
     left:  0px;
   }
   to {
     left: 650px;
   }
}
section.sec2 .img
{
  width: 90vh;
  height: 70vh;
  opacity: .80;
  position:absolute;
  top :15px;
  left: 15px;
  object-fit: contain;
}


section.sec3
{

  background-color: #FFFFFF;
  height: 300%;
}

section.sec3 h1
{
  color: green;
  text-align: center;
  font-size: 50px;
}
section.sec3 p
{
  left:15%;
  color: black;
  font-size: 25px;
  text-align: justify;
  text-align: center;
}
section.sec3 h3
{
  color: black;
  font-size: 30px;
  text-align: justify;
}

/* parte de la fade image*/
.separator::after
{
  content: "";
      clear: both;
      display: table;
}
.container {
  float: left;
  width: 24.7%;
  padding: 1px 1px;

}

.contaminar{
  float: left;
  width: 24.7%;
  padding: 1px 1px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 70vh;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.contaminar:hover .image{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}
.contaminar:hover .middle{
  opacity: 1;
}

.contaminar:hover .middle div{
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 1.5s;
  animation-name: mymove;
  animation-duration: 1.5s;
}

.contaminar:hover .middle a{
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 1.5s;
  animation-name: mymove;
  animation-duration: 1.5s;
}

.container:hover .middle {
  opacity: 1;
}
.container:hover .middle div
{
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 1.5s;
  animation-name: mymove;
  animation-duration: 1.5s;
}

.container:hover .middle a
{
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 1.5s;
  animation-name: mymove;
  animation-duration: 1.5s;
}

@-webkit-keyframes mymove {
   from {left: 0px;}
   to {left: 140px;}
}

@keyframes mymove {
   from {
     left: 0px;
   }
   to {
     left: 140px;
   }
}

.button {
  background-color: green;
  color: #FFFAF0;
  font-size: 25px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 16px 32px;
  text-decoration: none;
}

.texto
{
  color: yellow;
  position: absolute;
 top:-260px;
  left: 100px;
  font-size: 40px;
  text-align: center;
}

.sec3 h3::before {
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 3em;
  margin-left: -1em;
  position: relative;
  left: 53px;
}

/* footer */

footer
{
   width: 99.9%;
   background: #4CAF50;
   color: #000000;
}

.container-footer-all
{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

.container-body
{
 display: flex;
 justify-content: space-between;
}
.colum1
{
   max-width: 400px;
}
.colum1 h1
{
   font-size: 22px;
}
.colum1 p
{
   font-size: 14px;
   color: #000000;
  margin-top: 20px;
}
.colum2
{
   max-width: 400px;
}
.colum2 h1
{
  font-size: 22px;
}
.row
{
   margin-top: 20px;
   display: flex;
}

.row img
{
   width: 36px;
   height: 36px;
}

.row a
{
   margin-top: 10px;
   margin-left: 5px;
   color: #000000;
}

.colum3
{
  max-width: 400px;
}

.colum3 h1
{
 font-size: 22px;
}
.row2
{
   margin-top: 20px;
   display: flex;
}

.row2 img{
   width: 36px;
   height: 36px;
}

.row2 label{
   margin-top: 10px;
   margin-left: 5px;
   max-width: 400px;
   }

.container-footer{
   width: 99.5%;
   background: green;
   border-style: double;
   border-color: black;
}

.footer
{
   max-width: 1200px;
   margin: auto;
 display: flex;
   justify-content: space-between;
   padding: 10px;
}

.copyright{
   color: #C7C7C7;
}

.copyright a{
   text-decoration: none;
   color: white;
  font-weight: bold;
}

.information a{
   text-decoration: none;
 color: #FFFAF0;
}

@media screen and (max-width: 1100px){
   .container-body{
    flex-wrap: wrap;
   }

   .colum1{
       max-width: 100%;
   }
  .colum2, .colum3{
       margin-top: 40px;
   }


}

/* side navigation */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFAF0;
    overflow-x: hidden;
    transition: 0.90s;
    padding-top: 60px;
    text-align: center;
    opacity: .90;
}

.sidenav a
{
    padding: 0.5vh 8px 2vh 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav a:hover
{
    color: #4CAF50;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.lg
{
  position: relative;
  width: 100%;
  height: 100%;
}
.cor
{

  float: left;
  color: black;
}
.cor a{
  float: left;
  position: relative;
}
.cor a img{
  float: left;
  width: 70px;
  height: 50px;
}
span
{
  color: #4CAF50;
  border-style: double;
  border-color: black;
  background-color: yellow;

}

#main
{
    transition: margin-left .90s;
    padding: 5px;
    position: fixed;
    left: 0;
    top:49%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}

@media (max-width: 700px){
  .header-video{
    visibility: hidden;
  }
  section.sec1{
    background-image: url(../imagenes/galeria/galeria18.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-attachment: fixed;

  }




  section.sec2
  {
    background-image: url(../imagenes/uploads/fondo1.jpg);
    background-repeat: no-repeat;
    background-position: 60% 50% !important;
    background-size: cover !important;
    background-attachment: fixed;
    box-sizing: border-box;
  }
  .slideshow-container­
  {
  visibility: hidden;
  }

.mySlides{
  visibility: hidden;
}
.contenido{
  float: none;
}
section.sec2 article{
  font-size: 16px;
  text-align: justify;
  text-align: left;
  position: absolute;
  left: 10%;
font-family: 'Oswald', sans-serif;
  color:	#FFFAF0;
  display: inline-block;
  webkit-animation-name: none;
  -webkit-animation-duration: 6.5s;
  animation-name: none;
  animation-duration: 6.5s;

}
.imag{
  visibility: visible ;
  position: absolute;
  bottom: 0px;
 right: 0%;
 width: 100%;
 height: 30%;
  z-index: 1;
}
.image{
  width: 400%;
  height: 50vh;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container{
  float: none;
}
.contaminar{
  float: none;
}

.middle
{
  transition: .5s ease;
  opacity: 0;
  position: relative;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button
{
  background-color: green;
  color: #FFFAF0;
  font-size: 18px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 16px 32px;
  text-decoration: none;
}

section.sec3 h1
{
  color: green;
  text-align: center;
  font-size: 40px;
}
.sec3 h3::before
{
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 1em;
  position: relative;
  left: 20px;
}
}

/*dsgsdjgdsdhfjkdshfjkdshfjkdshfjhdsjkfhdsjkfhkdjshfksdjhfjkdshfjkdshfjdshfjkdshjkfhdsjkfhdskjfhjksdfhjdshfkjsdhfkjdshfÇ*/



/* #4CAF50 */

/*
background-color: rgb(0,0,0); /* Fallback color */
/* background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
 /*color: white;
 font-weight: bold;
 font-size: 80px;
 border: 10px solid #f1f1f1;
 position: fixed;
 top: 50%;
 left: 50%5
 transform: translate(-50%, -50%);
 z-index: 2;
 width: 300px;
 padding: 20px;
 text-align: center;
 */

 @media screen (max-width: 700px){

 .sidenav a{

 text-align: left;
 position: absolute;
 left: 0;

 }


 }

 @media (max-width: 700px) {

   .sec3 h3::before {

     width: 2em;
     margin-left: -1em;
     left: 30px;
   }
   .logo{
     width: 55vh;
     height: 35vh;
     top: 18px;
   }
   .imagen{
     width: auto;
     height: 100%;
   }
   .topnav{
     visibility: visible;
   }
   .sidenav a{
     font-size: 25px;
   }
   .lg{
     position: relative;
     text-align: left;
     width: 100%;
     height: 100%;
   }
 }
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .column, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }
 }

 /* empez: AR REPSSIVE TOP NAV; */

 .topnav {
   overflow: hidden;
   background-color: #333;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 100;
  position: fixed;
  width: 100%;
  visibility: hidden;
 }

 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   position: relative;
   top: 1%;
 }

 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 .active {
   background-color: #4CAF50;
   color: white;
 }

 .topnav .icon {
   display: none;
 }
 .topnav .cerrar{
   position: absolute;
   right: 0;
    top: 0;
   display: none;
 }

 @media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
   .topnav a.funda{
     display: inline;
     position: absolute;
     left: 0;
     font-size: 18px;
     margin-right: 60px;
     color: black;
     font-weight: bold;
   }
 }

 @media screen and (max-width: 600px) {


 .topnav{
   visibility: visible;
   background-color: #4CAF50;
 }
   .topnav.responsive {position: relative;
  top: 10%;

   }
   .topnav.responsive .icon {
     position: absolute;
     right: 0;
      top: 0;
   }
   .topnav.responsive .cerrar {
     position: absolute;
     right: 0;
      top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
   #abrir{
     font-size: 22px;
     background-color: yellow;
     color: black;
     font-weight: bold;
   }
   #cerrar{
     font-size: 32px;
     background-color: yellow;
     color: black;
   }

 #main{
   visibility: hidden;
 }
 .topnav .funda{
   position: absolute;
   left:  12px;;
    top: 0;
    visibility:visible;
 }
}
